<h1 class="center"> Listing Articles </h1>

<div class="center">
  <%= will_paginate %>
</div>
<%= render 'articles/articles_list', obj: @articles %>
<div class="center">
  <%= will_paginate %>
</div>

<!--  </div>-->
<!--  <tr>-->
<!--    <td> <%#= a.title %>  </td>-->
<!--    <td> <%#= a.description %>  </td>-->
<!--    <td> <%#= link_to "Show", article_path(a) %></td>-->
<!--    <td> <%#= link_to "Edit", edit_article_path(a) %> </td>-->
<!--    <td> <%#= link_to "Delete", article_path(a), method: :delete, data: {confirm: "Are you sure?"} %></td>-->
<!--  </tr>-->

<!--</table>-->


<style>
  th, td{
    padding: 5px;
  }
</style>