$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

//Starting Global CSS

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


#wrapper{
  min-height: 100%;

  overflow: auto;
  padding-bottom: 35px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #333;
  text-decoration: none;
}


#site-footer{
  //margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  background: black;

  //position:fixed;
  //width: 100%;
  //bottom:0;
  position: relative;
  margin-top: -35px;
  /* negative value of footer height */
  height: 35px;
  clear: both;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 10px;
  padding: 0 5px;
}

footer a:hover{
  color: #777;
}

//End Global CSS


// Start Article Creation Styling

.myform{
  margin-top: 25px;
}


// End Article Creation Styling

.messages{
  list-style: none;
}



.center{
  text-align: center;
}

.jumbotron{
  background-image: asset_url('jumbotron-hack.jpg');
  background-size: cover;
  height: 700px;
}

.jumbotron h1{
  color: ghostwhite;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: -2px;
  margin-top: 0;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: transparent;
  border-color: white;
  color: white;
}

.btn-xlarge:hover{
  border-color: black;
  background-color: white;
  color: black
}



